[submodule "map_presenter"]
	path = map_presenter
	url = https://github.com/Jenny-Smolensky/map_presenter
[submodule "map_server"]
	path = map_server
	url = https://github.com/Jenny-Smolensky/map_server
